trigger:
  - main
pool:
  vmImage: 'ubuntu-20.04'

variables:
  variables:
    - group: dev-api-service
    - name: $(PIPELINE_DOCKER_REPOSITORY)
      value: docker.io/waasegroup/api-service

stages:
 - stage: Development
   jobs:
    - job: BuildDeploy 
      displayName: "Build & deploy to development"
      steps:
      - script: |
              docker login -u $(PIPELINE_DOCKER_USER)  --password $(PIPELINE_DOCKER_PASSWORD)
        displayName: 'Login to Docker'
        env:
          PIPELINE_DOCKER_USER: $(PIPELINE_DOCKER_USER)
          PIPELINE_DOCKER_PASSWORD: $(PIPELINE_DOCKER_PASSWORD)


      - task: Docker@2
        displayName: Build docker image
        inputs:
          repository: $(PIPELINE_DOCKER_REPOSITORY)
          command: build
          Dockerfile: Dockerfile
          tags: latest

      - task: Docker@2
        displayName: Docker Push
        inputs:
          command: push
          repository: $(PIPELINE_DOCKER_REPOSITORY)
          tags: latest
