trigger:
  - main
pool:
  vmImage: 'ubuntu-20.04'

variables:
  - template: pipeline/variables-dev.yml

stages:
 - stage: Development
   jobs:
    - job: BuildDeploy 
      displayName: "Build & deploy to development"
      steps:
      - script: |
              docker login -u $(PIPELINE_DOCKER_USER)  --password $(PIPELINE_DOCKER_PASSWORD)
        displayName: 'Login to Docker'
        env:
          PIPELINE_DOCKER_USER: $(PIPELINE_DOCKER_USER)
          PIPELINE_DOCKER_PASSWORD: $(PIPELINE_DOCKER_PASSWORD)

      - task: PythonScript@0
        displayName: Pytest
        inputs:
          scriptSource: 'inline'
          script: 'pytest'  

      - task: replacetokens@3
        displayName: Replace tokens
        inputs:
          targetFiles: '**/*Dockerfile'
          encoding: 'auto'
          writeBOM: true
          actionOnMissing: 'warn'
          keepToken: false
          tokenPrefix: '{'
          tokenSuffix: '}'
          useLegacyPattern: false
          enableTransforms: false
          enableTelemetry: true

      - task: Docker@2
        displayName: Build
        inputs:
          repository: $(PIPELINE_DOCKER_REPOSITORY)
          command: build
          Dockerfile: Dockerfile
          tags: latest

      - task: Docker@2
        displayName: Push
        inputs:
          command: push
          repository: $(PIPELINE_DOCKER_REPOSITORY)
          tags: latest
